body {

    background-color: black;
}
div {
    
    width: 50%;
    margin-left: 25%;
}
h1 {
    color: white;
    text-align: center;

}
img {
    width: 100%;
    border: 3px solid rgb(255, 0, 166);
   
    
}

p {
    color: aliceblue;
    text-align: center;
    font-size: small;
}
#font-family {
    font-family: "Libre Baskerville", serif;
 
}
